<div class="p-4 mb-4 shadow bg-white">
    <div class="header mb-4">生成したパスワード</div>
    <div class="row row-cols-3">
        <div class="col" *ngFor="let password of passwords">
            <input type="text" class="output form-control" [value]="password" readonly>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-primary btn-sm btn-block p-2 m-1" disabled>ダウンロード</button>
        </div>
        <div class="mt-3">
            生成したパスワードをtxtファイルに出力します。(未実装)
        </div>
    </div>
</div>

<div class="p-4 mb-4 shadow bg-white">
    <div class="header mb-4">テンプレート出力</div>
    <div class="row">
        <div class="col">
            <textarea class="form-control template" readonly></textarea>
        </div>
    </div>
</div>