<form class="p-4 mb-4 shadow bg-white">
    <div class="header mb-4">生成したパスワード</div>
    <div class="row row-cols-4">
        <div class="col">
            <input type="text" class="output" readonly>
        </div>
        <div class="col">
            <input type="text" class="output" readonly>
        </div>
        <div class="col">
            <input type="text" class="output" readonly>
        </div>
        <div class="col">
            <input type="text" class="output" readonly>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-primary p-2 m-1">ダウンロード</button>
        </div>
        <div>
            生成したパスワードをtxtファイルに出力します。
        </div>
    </div>
</form>