.number{
    width: 60px;
}

.header{
    border-bottom: solid green 1px;
    font-size: 1.5rem;
    font-weight: bold;
}

input.ng-invalid{
    border: solid red 2px;
}

.error{
    font-size: 11px;
}