<!-- TODO パンくずリストをJSONなどの外部ファイルから動的に生成 -->
<nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">ぱすめーかー</li>
    </ol>
</nav>
<nav class="navbar navbar-light title">
    <a class="navbar-brand" href="#">
      <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
      <span class="h2 wf-nikukyu">ぱす めーかー</span>
    </a>
  </nav>