<!-- TODO パンくずリストをJSONなどの外部ファイルから動的に生成 -->
<!-- <nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a href="#top">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">パスメーカー</li>
    </ol>
</nav> -->
<nav class="navbar navbar-dark bg-dark title" id="top">
  <a class="navbar-brand" href="#top">
    <!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
    <span class="h2 wf-nikukyu">パスメーカー</span>
  </a>
  <span class="flex-spacer"></span>
  <div>
    <a class="mr-4" href="https://twitter.com/samari2038">
      <img src="../../assets/Twitter_Social_Icon_Rounded_Square_White.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <a class="mr-2" href="https://github.com/nishota/password-maker">
      <img src="../../assets/GitHub-Mark-Light-120px-plus.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
  </div>
</nav>